# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

backend/.env
frontend/.env
crawler/.env

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Game-Tools-Mini-Program/FileContentIndex/dd4ae754-5ceb-4e4a-9dda-bcb81ba254f0.vsidx
.vs/Game-Tools-Mini-Program/FileContentIndex/e63bb117-4a59-40b6-9f67-c00c41998066.vsidx
.vs/Game-Tools-Mini-Program/v17/.wsuo
**/target

# Database
backend/database/auth/database.db
backend/database/wow/dynamic-database.db
backend/database/wow/daily-database.db
backend/database/wow/data/dps-rank/cache
backend/database/common/dynamic-database.db
media/assets

crawler/poe2/cache
crawler/poe2/output

backend/database/poe2/data/ladders/cache/*
backend/database/poe2/data/ladders/output/*

backend/database/wow/data/archon-tier-list/cache