$death-knight: #c41e3a;
$shaman: #0070dd;
$mage: #3fc7eb;
$warlock: #8788ee;
$monk: #00ff98;
$druid: #ff7c0a;
$demon-hunter: #a330c9;
$paladin: #f48cba;
$rogue: #fff468;
$warrior: rgb(198, 155, 109);
$evoker: rgb(51, 147, 127);
$hunter: rgb(170, 211, 114);
$priest: rgb(255, 255, 255);
.warrior {
  color: $warrior;
}
.warrior::before {
  background-color: $warrior;
}

.evoker {
  color: $evoker;
  border-color: $evoker;
}
.evoker::before {
  background-color: $evoker;
}

.hunter {
  color: $hunter;
  border-color: $hunter;
}
.hunter::before {
  background-color: $hunter;
}

.priest {
  color: $priest;
  border-color: $priest;
}
.priest::before  {
  background-color: $priest;
}

.death-knight {
  color: $death-knight;
  border-color: $death-knight;
}
.death-knight::before {
  background-color: $death-knight;
}

.shaman {
  color: $shaman;
  border-color: $shaman;
}
.shaman::before  {
  background-color: $shaman;
}

.mage {
  color: $mage;
  border-color: $mage;
}
.mage::before  {
  background-color: $mage;
}

.warlock {
  color: $warlock;
  border-color: $warlock;
}
.warlock::before  {
  background-color: $warlock;
}

.monk {
  color: $monk;
  border-color: $monk;
}
.monk::before  {
  background-color: $monk;
}

.druid {
  color: $druid;
  border-color: $druid;
}
.druid::before  {
  background-color: $druid;
}

.demon-hunter {
  color: $demon-hunter;
  border-color: $demon-hunter;
}
.demon-hunter::before {
  background-color: $demon-hunter;
}

.paladin {
  color: $paladin;
  border-color: $paladin;
}
.paladin::before {
  background-color: $paladin;
}

.rogue {
  color: $rogue;
  border-color: $rogue;
}
.rogue::before {
  background-color: $rogue;
}

.tag-label {
  padding: 2px 4px;
  color: #fff;
  background-color: $uni-text-color-grey;
  border: .1rem solid $uni-text-color-grey;
  border-radius: .2rem;
  font-size: small;
  box-sizing: border-box;
  height: 20px;
  line-height: 16px;
}

.uni-section {
  .uni-section-header {
    background-color: $uni-bg-color-grey !important;
    color: inherit !important;
    .uni-section-header__content {
      color: inherit !important;
      .uni-section__content-title {
        color: inherit !important;
      }
    }
  }
  .uni-section-content {
    background-color: $uni-bg-color-grey;
  }
}